body{
background-color:lightcyan;
font-size: 14px;
margin: auto;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header{
color:white ;
background-color: black;
font-size: 20px;
text-decoration: dotted;
padding: 1em;
}
nav{
background-color:burlywood;
padding: 0.1em;
}
nav ul{
list-style-type: none;
padding: 0;
margin: 0;
}
.top-menu li{
    display: inline-block;
    margin-right: 20px;
}
.top-menu a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.top-menu a:visited{
    color: yellow;
}
.top-menu a:hover{
    color: red
}
h1{
font-family: Georgia, 'Times New Roman', Times, serif;
color: black;
margin: auto;
}
img {
max-width: 500px;
border: solid;
border-color: rgb(244, 12, 12);

}
footer{
    background-color: black;
    color: aliceblue;
    padding: 20px;
    text-align: center;
}
.h2spe{

    background-color: blue;
    color: white;
}
#main-header{
    background-color: red;
    text-align: center;
    padding: 20px;
}
#h1spe{
    margin: 0;
    font-size: 32px;
}
#pspe{
    font-size: 16px;
    margin-top: 10px;
}
.content-article{
    background-color:rgb(236, 132, 132);
    border: solid;
    border-radius: 1px;
    padding: 20px;
    margin-bottom: 20px;
}
.h2spe2{
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}
.pspe2{
color: #666;
font-size: 16px;
line-height: 1.5;
}